<div class="container-fluid mb-5">

 <h1>Product Invoice</h1>
 <form #product="ngForm" (ngSubmit)="onCreateProducts(product.value)">
  {{product.value|json}}
  <div class="form-group" >
    <label>Product ID</label>
    <input class="form-control" #productID name="productID" type="number" ngModel="productID">
  </div>
  <div class="form-group">
    <label>Product Name</label>
    <input class="form-control" #productName name="productName" type="text" ngModel="productName">
  </div>
  <div class="form-group">
    <label>Qty</label>
    <input class="form-control" #productQTY name="productQTY" type="number" ngModel="productQTY">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input class="form-control" #productPrice name="productPrice" type="number" ngModel="productPrice">
  </div>
  <button class="btn button-primary">Submit</button>
 </form>
</div>

